/*
font-family: 'Asap Condensed', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Roboto Mono', monospace;
*/
body{
  background: url('../images/deinervega.jpg') no-repeat fixed center;
  background-size: cover;
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}
.main{
  align-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(10,10,10,1) 10%, rgba(0,77,64,0.9) 30%, rgba(0,105,92,0.7) 45%, rgba(0,105,92,0.7) 55%, rgba(0,77,64,0.9) 70%, rgba(10,10,10,1) 90%);
  display: inline-flex;
  height: 100%;
  flex-flow: row;
  justify-content: center;
  padding: 5% 0;
  width: 100%;
}
.yo{
  align-content: center;
  align-items: center;
  justify-content: left;
  padding: 0 3em;
  width: 85%;
}
.yo h1{
  color: #00e5ff;
  font-family: 'Lobster', cursive;
  font-size: 3.4em;
  margin: 0;
  padding: 0;
}
.yo p{
  color: #fafafa;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}
.mio{
  display: flex;
  width: 15%;
}
.menu{
  align-content: center;
  align-items: baseline;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  list-style: none;
  padding: 0 3em;
}
.menu li{
  align-content: center;
  align-items: baseline;
  justify-content: flex-end;
}
.menu a{
  color: #fafafa;
  font-family: 'Roboto Mono', monospace;
  text-decoration: underline;
}
