body{
  height: 100%;
  position: fixed;
  width: 100%;
}
.main{
  align-content: center;
  align-items: center;
  background: url('../images/deinervega.jpg') no-repeat fixed center;
  background-size: cover;
  display: flex;
  height: 100%;
  flex-flow: row;
  justify-content: center;
  width: 100%;
}
