/*
font-family: 'Asap Condensed', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Roboto Mono', monospace;
*/
body{
  background: url('../images/deinervega.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}
.main{
  align-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(10,10,10,1) 10%, rgba(0,77,64,0.9) 30%, rgba(0,105,92,0.7) 45%, rgba(0,105,92,0.7) 55%, rgba(0,77,64,0.9) 70%, rgba(10,10,10,1) 90%);
  display: inline-flex;
  height: 100%;
  flex-flow: row;
  justify-content: space-between;
  padding: 0;
  width: 100%;
}
.yo{
  align-content: center;
  align-items: center;
  justify-content: left;
  padding: 0 10%;
  width: 60%;
}
.yo h1{
  color: #00e5ff;
  font-family: 'Lobster', cursive;
  font-size: 3.6em;
  margin: 0;
  padding: 0;
}
.yo p{
  color: #fafafa;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  padding-top: 2em;
}
.mio{
  display: flex;
  width: 20%;
}
.menu{
  display: flex;
  flex-flow: column;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align:  right;
  width: 100%;
}
.menu li{
  margin: 0;
  margin-bottom: 1em;
  text-align:  right;
}
.menu a{
  color: #fafafa;
  font-family: 'Roboto Mono', monospace;
  justify-content: right;
  padding: 1em 0;
  text-align:  right;
  text-decoration: underline;
  transition: 0.9s all;
}
.menu a:hover{
  transform: translate(-20px, 0);
}
